@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}


/* 6 card items start */
.main {
    height: 675px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: hsl(216, 50%, 16%);
    padding: 1.2em;
    border-radius: 10px;
    margin: 2em .5em 2.5em 1em;
}

.main .container .content-text .content-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.main .container .content-text .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .container .content-text .footer img {
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
}

.main .container .images img {
    width: 260px;
    height: 300px;
    border-radius: 10px;
}

.container .content-text{
    padding-top: 1.2em;
}

.container .content-text .title {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
}

.container .content-text .desc {
    padding-top: .7em;
    color: hsl(215, 51%, 70%);
    width: 260px;
    font-weight: 300;
    font-size: .9rem;
}

.container .content-flex {
    padding-top: 1.5em;
    width: 260px;
}

.container .content-flex .stock {
    color: hsl(178, 100%, 50%);
}

.container .content-flex .time {
    color: hsl(215, 51%, 70%);
}

.container .line {
    margin: 1.2em 0;
    height: 1px;
    width: 260px;
    background-color: hsl(215, 51%, 70%);  
}

.container .footer p {
    margin-left: 1em;
    color: hsl(0, 0%, 100%);

}

.container .footer p span {
    color: hsl(215, 51%, 70%);
}

/* 6 card items end */

/* aside */

.right-content {
    display: flex;
    flex-direction: column;
}

.aside {
    width: 440px;
    margin: 0 1em 0 1em;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}

.aside1 {
    margin: 2em 1em 2em 1em;
}

.aside2 {
    margin: 1em 1em 2em 1em;
}

.aside .image-content img {
    width: 200px;
    border-radius: 10px;
}

.aside .image-content {
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.aside .image-content .side-content {
    margin-left: 1em;
    margin-top: 1.5em;
}

.aside .image-content .side-content .title-side {
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 400;
}

.aside .image-content .side-content .desc-side {
    margin-top: 1.2em;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 1.1rem;
}

.footer-side{
    padding: 0 1em 1em 1em;
}

.aside .footer-side {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.footer-side .profile {
    width: 40px;
    margin-left: 1em;
    border: 2px solid white;
    border-radius: 50%;
    
}

.footer-side .stock-side {
    color: hsl(178, 100%, 50%);
}

.footer-side .time-side {
    color: hsl(215, 51%, 70%);
    margin-left: 1em;
}

.footer-side .six {
    margin-left: .5em;
    color: hsl(0, 0%, 100%);
}

.footer-side .six span {
    color: hsl(215, 51%, 70%);
}





